body{
    font-family: 'Lato', sans-serif;
    color: #434343;
    /*background: rgb(231, 231, 231);*/
    font-size: 16px;
    background: url("../images/Trianglify (1).svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
*/

h2{
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #49515a;
}

a:hover{
    text-decoration-color: #000000;
}

h3{
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #49515a;
}

h4{
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: rgb(67,67,67);
}

h3.subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #778492;
    font-family: 'Montserrat', arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 9px;
}

.btn-primary{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 14px 8px 14px;
    font-family: 'Montserrat', arial, sans-serif;
    border: 0px;
    background-color: rgb(84, 186, 78);

}


p.university{
    font-size: 14px;
    font-weight: bolder;
    color: rgb(153, 153, 153); /* Lighter subtext color */
    margin-top: 9px;
    margin-bottom: 10px;
    padding-left: 25px;
}

p.gpa{
    font-size: 14px;
    font-weight: bold;
    color: rgb(153, 153, 153);
    margin-top: 9px;
    margin-bottom: 0px;
    padding-left: 25px;
}

i.year{
    font-style: normal;
    font-weight: normal;
    color: #a0a0a0;

}

li > a{
    color: #49515a;
}

.info > ul > li{
    margin-bottom: 15px;

}

.info > ul > li > .fa{
    margin-right: 10px;
    color: rgba(153, 153, 153, 0.5);
    
}

.info > ul > li > a{
    color: #28a745; /* Bootstrap Green */
}

.info > ul > li > .fa.fa-map-marker{
    margin-right: 14px;
    transform: translateX(2px);
}

/*
@media (min-width: 2100px){
    .container{
        width: 2100px;
    }
}
*/
.section{
    background-color: rgba(255, 255, 255, 1);
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px #494949;

}

.section-inner{
    padding: 30px;
}

.section-title{
    margin-bottom: 25px;
}

#secondary-column >  .section > .section-inner{
    padding: 30px;
}

#secondary-column{
    padding-right: 15px;

}

/* Needed to keep container centered */
.d-flex{
    padding-right: 0px;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}

.top-spacer{
    height: 50px;
}

.profile-img{
    margin-bottom: 15px;

    display: block;
    max-width: 100%;
    max-height: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px; 

}
/*
.fa-gitlab {
    transform: translateY(-4%);
    transform: translateX(-8%);
}
*/
.fa-linkedin{
    transform: translateY(0%);
    transform: translateX(+15%);
}

.social a{
    display: inline-block;
    color: rgb(97, 97, 255);
    margin-left: 5px; 
    margin-right: 5px; 
    /*background: rgb(97, 97, 255);*/
    /*border-radius: 50%;*/
    width: 36px;
    height: 36px;
}

.social a:hover{
    background-color: transparent;
}

.progress{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 20px;;
}

.progress-bar{
    animation-name: progress-bar;
    animation-duration: 1.5s;
}

@keyframes progress-bar{
    from {width: 0px;}
    to {}
}

.project-img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    min-width: 50px;
    min-height: 50px;
    
}

.project-img:hover{
    opacity: 0.8;    
}

.item{
    font-family: 'Lato', Arial, sans-serif;
}

.item.project{
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.divider{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* The sidenav */
nav {
    min-height: 100%;
    min-width: 300px;
    max-width 300px;
    position: relative;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 1s;
  }

/* The navigation menu links */
nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 24px;
    color: #a0a0a0;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

nav > .header{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    word-wrap: normal;
    color: #49515a;

}

/* When you mouse over the navigation links, change their color */
nav a:hover {
    color: #000000;
    text-decoration-line: none;
    background: #5bc0de;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}

/* On smaller screens make the navbar skinnier */
@media (max-width: 1400px){
    nav{
        min-width: 175px;
        max-width: 175px;
        transition: 0.5s;
    }
    nav a {

    }

}