body{
    font-family: 'Lato', sans-serif;
    color: #434343;
    /*background: rgb(231, 231, 231);*/
    font-size: 16px;
    background: url("../images/Trianglify (1).svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
*/

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: #49515a;
}

/*
@media (min-width: 2100px){
    .container{
        width: 2100px;
    }
}
*/
.section{
    background-color: white;
    padding-left: 15px;
    padding-right: 0px;
    margin-bottom: 30px; 
    border-radius: 0px;
    /*box-shadow: 10px 10px 20px 10px #c7cdd8;*/
}

.section-inner{
    padding: 15px;
}

#secondary-column{
    padding-right: 15px;

}

/* Needed to keep container centered */
.d-flex{
    padding-right: 0px;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}

.top-spacer{
    height: 50px;
}

.profile-img{
    max-width: 150px;
    margin-bottom: 15px;
}

.fa-gitlab {
    transform: translateY(-4%);
    transform: translateX(-8%);
}

.fa-linkedin{
    transform: translateY(0%);
    transform: translateX(+4%);
}

.social a{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-left: 0px; 
    margin-right: 0px; 
    background: rgb(97, 97, 255);
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

/* The sidenav */
nav {
    min-height: 100%;
    min-width: 300px;
    position: relative;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }

/* The navigation menu links */
nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 24px;
    color: #a0a0a0;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

nav > .header{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    word-wrap: normal;
    color: #49515a;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
    color: #000000;
    text-decoration-line: none;
    background: #5bc0de;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}