body{
    font-family: 'Lato', sans-serif;
    color: #434343;
    background: rgb(211, 220, 223);
    font-size: 16px;
}

.tagline{
    color: #778492;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: #49525c;
}

.about-me > p{
    font-family: 'Lato', sans-serif;
}

.jumbotron{
    border-radius: 0px;
    background: #FAFAFA
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

@media (min-width: 1400px){
    .container{
        width: 1360px;
    }
}

.section{
    background-color: white;
    padding-left: 15px;
    padding-right: 0px;
    margin-bottom: 30px; 
    border-radius: 10px;
}

.section-inner{
    padding: 15px;
}

#secondary-column{
    padding-right: 0px;

}

/* Needed to keep container centered */
.flex-container{
    display: flex;
    padding-right: 15px;
    flex-direction: row;
}

.container {
    padding-left: 15px; /* Same as the width of the sidenav + desired space between */
    padding-right: 15px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

/* The sidenav */
nav > .header{
    text-align: center;
    margin-bottom: 50px;
}

nav {
    min-height: 100%;
    width: 300px;
    position: relative;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    padding-top: 20px;
  }

/* The navigation menu links */
nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
    color: #000000;
    text-decoration-line: none;
    background: #5bc0de;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}